* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Start of Header */

body {
  background-color: #ffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;

  padding: 30px 1em;

  background-color: #5885af;
  height: 3em;
}

.header-title {
  color: #ffff;
  font-size: larger;
  font-weight: 400;
}

.header-title span {
  color: #e08243;
}

.menu-switch:hover {
  cursor: pointer;
}

.drop-menu {
  display: flex;
  flex-direction: row;
  justify-content: right;

  width: 100vw;
  height: 100vh;

  position: fixed;
  right: -100vw;
  top: 0;

  z-index: 2;
  transition: right 0.3s ease;
}

.drop-menu-spacer {
  width: 100%;
  height: 100%;
  background-color: #6f7980;
  opacity: 0;
}

.menu {
  background-color: #c3e0e5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 50%;
  height: 100%;
  padding-bottom: 5px;
  box-shadow: rgba(92, 84, 95, 0.2) -4px 0;
}

.menu ul {
  color: #383b3b;
  font-size: 20px;
  width: 180px;
  list-style: none;
}

.menu ul li {
  text-align: right;
  margin: 4px 4px 0 4px;
  padding: 12px 10px 12px 0;
}

.menu ul li:hover {
  background-color: #fff;
  font-size: 22px;

  border-radius: 10px;
}

.menu ul li a {
  text-decoration: none;
}

.menu ul li a:link {
  color: #383b3b;
}

.menu ul li a:visited {
  color: #383b3b;
}

.social-link li {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}

/* End of Header */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 16px 16px;
}

.content {
  color: #fff;
  background-color: #553d67;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 50px 20px;
  gap: 1em;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* Start of introduction */

.title {
  background-color: #553d67;
}

.title section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.4em;
}

.article-title {
  border-bottom: solid 2px #5885af;
}

.title section:first-of-type h3 span {
  font-size: 13px;
}

.title section:first-of-type p span:first-of-type {
  font-weight: bold;
  color: #e08243;
}

.title section:first-of-type p span:last-of-type {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  color: #c3e0e5;
}

.profile-pic {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-pic img {
  width: calc(100% - 6em);
  height: auto;

  border-radius: 20px;
  box-shadow: rgba(215, 212, 216, 0.4) 0 0 20px;
}

.content hr {
  width: calc(100% - 1em);
  height: 4px;
  margin-top: 1em;
  border-radius: 3px;
  background-color: #ffff;
}

/* End of introduction */

/* Start of About Me*/

.about {
  color: #383b3b;
  background-color: #fbeec1;
  border-radius: 0;

  display: flex;
  flex-direction: column;

  text-align: center;

  width: 100%;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
  text-align: center;
}

.skill-item {
  display: flex;
  flex-direction: row;
  justify-self: left;
  align-items: center;
  gap: 1em;
}

.skill-item img {
  width: 40px;
  height: 40px;
}

.skill-item p {
  color: #553d67;
  font-size: 18px;
  font-weight: bold;
}

.language-view {
  color: #ffff;
  background-color: #000000;
  margin: 20px;
  padding: 30px 10px;
  width: 100%;
  height: 260px;
  overflow: scroll;

  box-shadow: rgba(14, 13, 13, 0.8) 0 0 8px;
}

.language-view p {
  font-size: 14pt;
  text-align: left;
}

/* End of about Me*/

/* Start of Portfolio */

.portfolio {
  color: #383b3b;
  background-color: #659dbd;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  text-align: center;

  width: 100%;
}

.portfolio section:last-of-type img {
  width: 6em;
  height: 6em;
  opacity: 0.6;
}

/* End of portfolio */

.contact {
  background-color: #e3e2df;

  display: flex;
  flex-direction: column;

  gap: 1em;
  width: 100%;

  padding: 20px;
  margin-top: 30px;
}

.contact div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact div:last-of-type {
  justify-self: center;
  align-items: center;
}

.contact div input {
  border: none;

  padding: 0 10px;
  height: 40px;
  width: 100%;

  border-radius: 6px;
}

.contact div textarea {
  border: none;

  padding: 0 10px;
  width: 100%;

  border-radius: 6px;
}

.contact div button {
  color: #ffff;
  background-color: #553d67;
  border: none;
  width: 140px;
  height: 30px;
}

/* Header animation */

/* .content {
  opacity: 0;
  transition: opacity is ease-in-out;
}

.header.content:first-child {
  transition-delay: 0.5s;
}

.header:hover .content {
  opacity: 1;
} */

.mobile-return-top {
  background-color: #6f7980;
  position: fixed;
  opacity: 0.5;
  left: 3em;
  bottom: 1em;
  height: 50px;
  width: 50px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
